assets/
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
.idea/
map/CMakeFiles/
map/src/
map/tmp/
map/cmake_install.cmake
map/CMakeCache.txt
map/Makefile
map/map.cbp
map/map.exe
tex/CMakeFiles/
tex/src/
tex/tmp/
tex/cmake_install.cmake
tex/CMakeCache.txt
tex/Makefile
tex/tex.cbp
tex/tex.exe